body{
  background-color: #fffff4;
}


/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #4a008f;
  background-color: #ebd7ff;
  border-color: #e1c2ff;
}

.alert-primary hr {
  border-top-color: #d5a9ff;
}

.alert-primary .alert-link {
  color: #2f005c;
}

.badge-primary {
  color: #fff;
  background-color: #890bff;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #6f00d7;
}

.bg-primary {
  background-color: #890bff !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #6f00d7 !important;
}

.border-primary {
  border-color: #890bff !important;
}

.btn-primary {
  color: #fff;
  background-color: #890bff;
  border-color: #890bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #7600e6;
  border-color: #6f00d7;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 11, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #890bff;
  border-color: #890bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #6f00d7;
  border-color: #6700c7;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 11, 255, 0.5);
}

.btn-outline-primary {
  color: #890bff;
  background-color: transparent;
  border-color: #890bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #890bff;
  border-color: #890bff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 11, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #890bff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #890bff;
  border-color: #890bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(137, 11, 255, 0.5);
}

.list-group-item-primary {
  color: #4a008f;
  background-color: #e1c2ff;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #4a008f;
  background-color: #d5a9ff;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #4a008f;
  border-color: #4a008f;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #e1c2ff;
}

.table-hover .table-primary:hover {
  background-color: #d5a9ff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #d5a9ff;
}

.text-primary {
  color: #890bff !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #6f00d7 !important;
}
